/*Header*/
.xx{
  margin-left: 45%;
}
.dd{
  margin-left: 45%;
}

.clearfix:before,
.clearfix:after
{
  content:" ";
  display:table;
}
.clearfix:after
{
  clear:both;
}
li
{
list-style: none;
}
strong
{
  font-size:3em;
}
.opening{
  background-image:url('../Images/Dashboard/header_background.jpg');
}
.one{
  font-family:sans-serif;

  color:white;

}
ul.ho{
  float:right;
}
ul.ho>li{
  float:left;
  margin-right:2em;
  color:orange;
  text-transform:uppercase;
}
/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
  background-color: grey;
}

/* Hide the images by default*/ 
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

hr.new{
		border-top:2px dashed red;
	}


/* Body */
.services{
	padding-left: 10%;
	padding-right: 10%;
}
.add_report{
	display: box;	
}
.label{
font-family: OpenSans,Arial,sans-serif;
font-weight: 700;
color: #666;
font-size: 24px;
line-height: 32px;
text-transform: uppercase;
}
.row::after {
	content: "";
	clear: both;
    display: table;
}
.column1 {
	float: left;
}
.column2{
	float: left;
	padding-left:10%;
}
footer{
	background-image: url("../Images/Dashboard/footer_background.jpg");
}
.address{
	text-align:center;
}